# Data cleaning and feature engineering

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# read the dataframe
df = pd.read_csv('D:/ML OPS/Assignment#4/Data/Raw/Raw_zambia_Solcast.csv')

In [3]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity',
       'DewpointTemp', 'Dhi', 'Dni', 'Ghi', 'PrecipitableWater',
       'RelativeHumidity', 'SurfacePressure', 'WindDirection10m',
       'WindSpeed10m'],
      dtype='object')

In [4]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [5]:
# randomly display 10 rows
df.head(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,20.8,0,0,0,40.0,94.5,917.2,35,1.5
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,20.5,0,0,0,39.9,95.2,917.6,41,1.5
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,20.8,3,15,5,39.6,93.6,918.1,44,1.8
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,21.7,48,2,49,39.2,89.9,918.6,44,2.6
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,22.6,179,2,180,38.7,86.4,919.2,43,3.4
5,2018-12-31T07:00:00Z,2018-12-31T06:00:00Z,23.3,348,134,433,38.1,84.4,919.2,44,3.9
6,2018-12-31T08:00:00Z,2018-12-31T07:00:00Z,23.8,454,160,577,37.5,83.7,918.6,46,4.0
7,2018-12-31T09:00:00Z,2018-12-31T08:00:00Z,24.3,428,384,775,36.9,83.0,918.1,47,4.0
8,2018-12-31T10:00:00Z,2018-12-31T09:00:00Z,25.2,578,173,744,36.7,78.4,917.6,49,4.1
9,2018-12-31T11:00:00Z,2018-12-31T10:00:00Z,26.5,625,73,697,36.8,70.7,917.1,51,4.0

In [6]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [7]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,20.8,0,0,0,40.0,94.5,917.2,35,1.5
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,20.5,0,0,0,39.9,95.2,917.6,41,1.5
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,20.8,3,15,5,39.6,93.6,918.1,44,1.8
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,21.7,48,2,49,39.2,89.9,918.6,44,2.6
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,22.6,179,2,180,38.7,86.4,919.2,43,3.4

In [8]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26229 entries, 0 to 26228
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26229 non-null  object
 1   PeriodStart    26229 non-null  object
 2   Temperature    26229 non-null  float64
 3   DHI            26229 non-null  int64
 4   DNI            26229 non-null  int64
 5   Radiation      26229 non-null  int64
 6   Precipitation  26229 non-null  float64
 7   Humidity       26229 non-null  float64
 8   Pressure       26229 non-null  float64
 9   WindDirection  26229 non-null  int64
 10  WindSpeed      26229 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [9]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

C:\Users\NAGATEJA CHOWDARY\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [10]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26229 entries, 0 to 26228
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26229 non-null  datetime64[ns]
 1   PeriodStart    26229 non-null  datetime64[ns]
 2   Temperature    26229 non-null  float64
 3   DHI            26229 non-null  int64
 4   DNI            26229 non-null  int64
 5   Radiation      26229 non-null  float64
 6   Precipitation  26229 non-null  float64
 7   Humidity       26229 non-null  int32
 8   Pressure       26229 non-null  float64
 9   WindDirection  26229 non-null  float64
 10  WindSpeed      26229 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 2.1 MB

In [11]:
# display top 6 rows
df.head(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,20.8,0,0,0.0,40.0,94,917.2,35.0,1.5
1,2018-12-31 03:00:00,2018-12-31 02:00:00,20.5,0,0,0.0,39.9,95,917.6,41.0,1.5
2,2018-12-31 04:00:00,2018-12-31 03:00:00,20.8,3,15,5.0,39.6,93,918.1,44.0,1.8
3,2018-12-31 05:00:00,2018-12-31 04:00:00,21.7,48,2,49.0,39.2,89,918.6,44.0,2.6
4,2018-12-31 06:00:00,2018-12-31 05:00:00,22.6,179,2,180.0,38.7,86,919.2,43.0,3.4
5,2018-12-31 07:00:00,2018-12-31 06:00:00,23.3,348,134,433.0,38.1,84,919.2,44.0,3.9
6,2018-12-31 08:00:00,2018-12-31 07:00:00,23.8,454,160,577.0,37.5,83,918.6,46.0,4.0
7,2018-12-31 09:00:00,2018-12-31 08:00:00,24.3,428,384,775.0,36.9,83,918.1,47.0,4.0
8,2018-12-31 10:00:00,2018-12-31 09:00:00,25.2,578,173,744.0,36.7,78,917.6,49.0,4.1
9,2018-12-31 11:00:00,2018-12-31 10:00:00,26.5,625,73,697.0,36.8,70,917.1,51.0,4.0

In [12]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [13]:
df.head(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,20.8,0,0,0.0,40.0,94,917.2,35.0,1.5,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,20.5,0,0,0.0,39.9,95,917.6,41.0,1.5,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,20.8,3,15,5.0,39.6,93,918.1,44.0,1.8,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,21.7,48,2,49.0,39.2,89,918.6,44.0,2.6,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,22.6,179,2,180.0,38.7,86,919.2,43.0,3.4,2018,2018,12,12,5,6
5,2018-12-31 07:00:00,2018-12-31 06:00:00,23.3,348,134,433.0,38.1,84,919.2,44.0,3.9,2018,2018,12,12,6,7
6,2018-12-31 08:00:00,2018-12-31 07:00:00,23.8,454,160,577.0,37.5,83,918.6,46.0,4.0,2018,2018,12,12,7,8
7,2018-12-31 09:00:00,2018-12-31 08:00:00,24.3,428,384,775.0,36.9,83,918.1,47.0,4.0,2018,2018,12,12,8,9
8,2018-12-31 10:00:00,2018-12-31 09:00:00,25.2,578,173,744.0,36.7,78,917.6,49.0,4.1,2018,2018,12,12,9,10
9,2018-12-31 11:00:00,2018-12-31 10:00:00,26.5,625,73,697.0,36.8,70,917.1,51.0,4.0,2018,2018,12,12,10,11

In [14]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [15]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2018-12-31 02:00:00,2018-12-31 01:00:00,20.8,0,0,0.0,40.0,94,917.2,35.0,1.5,2018,2018,12,12,1,2,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,20.5,0,0,0.0,39.9,95,917.6,41.0,1.5,2018,2018,12,12,2,3,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,20.8,3,15,5.0,39.6,93,918.1,44.0,1.8,2018,2018,12,12,3,4,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,21.7,48,2,49.0,39.2,89,918.6,44.0,2.6,2018,2018,12,12,4,5,05:00:00
4,2018-12-31 06:00:00,2018-12-31 05:00:00,22.6,179,2,180.0,38.7,86,919.2,43.0,3.4,2018,2018,12,12,5,6,06:00:00

In [16]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [17]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [18]:
df.Sunset.unique()

array([0], dtype=int64)

In [19]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26229 entries, 0 to 26228
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26229 non-null  datetime64[ns]
 1   PeriodStart    26229 non-null  datetime64[ns]
 2   Temperature    26229 non-null  float64
 3   DHI            26229 non-null  int64
 4   DNI            26229 non-null  int64
 5   Radiation      26229 non-null  float64
 6   Precipitation  26229 non-null  float64
 7   Humidity       26229 non-null  int32
 8   Pressure       26229 non-null  float64
 9   WindDirection  26229 non-null  float64
 10  WindSpeed      26229 non-null  float64
 11  YearPS         26229 non-null  int64
 12  YearPE         26229 non-null  int64
 13  MonthPS        26229 non-null  int64
 14  MonthPE        26229 non-null  int64
 15  HourPS         26229 non-null  int64
 16  HourPE         26229 non-null  int64
 17  Sunrise        26229 non-null  object
 18  Sunset         26229 non-null  int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(9), object(1)
memory usage: 3.7+ MB

In [20]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [21]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14022 entries, 2 to 26223
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      14022 non-null  datetime64[ns]
 1   PeriodStart    14022 non-null  datetime64[ns]
 2   Temperature    14022 non-null  float64
 3   DHI            14022 non-null  int64
 4   DNI            14022 non-null  int64
 5   Radiation      14022 non-null  float64
 6   Precipitation  14022 non-null  float64
 7   Humidity       14022 non-null  int32
 8   Pressure       14022 non-null  float64
 9   WindDirection  14022 non-null  float64
 10  WindSpeed      14022 non-null  float64
 11  YearPS         14022 non-null  int64
 12  YearPE         14022 non-null  int64
 13  MonthPS        14022 non-null  int64
 14  MonthPE        14022 non-null  int64
 15  HourPS         14022 non-null  int64
 16  HourPE         14022 non-null  int64
 17  Sunrise        14022 non-null  object
 18  Sunset         14022 non-null  int64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(9), object(1)
memory usage: 2.1+ MB

In [22]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
11719,2020-05-02 09:00:00,2020-05-02 08:00:00,26.3,97,864,752.0,25.5,43,937.4,69.0,3.4,2020,2020,5,5,8,9,0,0
8117,2019-12-04 07:00:00,2019-12-04 06:00:00,31.5,194,630,597.0,34.2,43,929.5,153.0,0.6,2019,2019,12,12,6,7,0,0
17021,2020-12-09 07:00:00,2020-12-09 06:00:00,25.2,343,0,343.0,45.0,70,931.8,49.0,2.6,2020,2020,12,12,6,7,0,0
4402,2019-07-02 12:00:00,2019-07-02 11:00:00,26.2,107,854,713.0,10.9,24,935.5,142.0,1.7,2019,2019,7,7,11,12,0,0
7762,2019-11-19 12:00:00,2019-11-19 11:00:00,33.9,244,720,910.0,43.8,37,926.6,58.0,4.7,2019,2019,11,11,11,12,0,0
1421,2019-02-28 07:00:00,2019-02-28 06:00:00,26.9,99,771,515.0,28.1,52,915.9,152.0,1.6,2019,2019,2,2,6,7,0,0
7379,2019-11-03 13:00:00,2019-11-03 12:00:00,34.9,211,720,783.0,28.3,24,929.4,67.0,3.7,2019,2019,11,11,12,13,0,0
21604,2021-06-18 06:00:00,2021-06-18 05:00:00,14.8,45,422,128.0,15.2,63,939.5,246.0,1.0,2021,2021,6,6,5,6,06:00:00,0
23173,2021-08-22 15:00:00,2021-08-22 14:00:00,28.4,105,472,272.0,18.8,28,930.3,66.0,4.0,2021,2021,8,8,14,15,0,0
23909,2021-09-22 07:00:00,2021-09-22 06:00:00,25.6,180,573,509.0,16.3,26,936.8,63.0,5.3,2021,2021,9,9,6,7,0,0

In [23]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

<ipython-input-23-eed0b0080a7a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [24]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [25]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 04:00:00,2018-12-31 03:00:00,20.8,3,15,5.0,39.6,93,918.1,44.0,1.8,2018,2018,12,12,3,4,0,0,2018-12-31
2018-12-31,2018-12-31 05:00:00,2018-12-31 04:00:00,21.7,48,2,49.0,39.2,89,918.6,44.0,2.6,2018,2018,12,12,4,5,05:00:00,0,2018-12-31
2018-12-31,2018-12-31 06:00:00,2018-12-31 05:00:00,22.6,179,2,180.0,38.7,86,919.2,43.0,3.4,2018,2018,12,12,5,6,06:00:00,0,2018-12-31
2018-12-31,2018-12-31 07:00:00,2018-12-31 06:00:00,23.3,348,134,433.0,38.1,84,919.2,44.0,3.9,2018,2018,12,12,6,7,0,0,2018-12-31
2018-12-31,2018-12-31 08:00:00,2018-12-31 07:00:00,23.8,454,160,577.0,37.5,83,918.6,46.0,4.0,2018,2018,12,12,7,8,0,0,2018-12-31

In [26]:
# 
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14022 entries, 2018-12-31 to 2021-12-27
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      14022 non-null  datetime64[ns]
 1   PeriodStart    14022 non-null  datetime64[ns]
 2   Temperature    14022 non-null  float64
 3   DHI            14022 non-null  int64
 4   DNI            14022 non-null  int64
 5   Radiation      14022 non-null  float64
 6   Precipitation  14022 non-null  float64
 7   Humidity       14022 non-null  int32
 8   Pressure       14022 non-null  float64
 9   WindDirection  14022 non-null  float64
 10  WindSpeed      14022 non-null  float64
 11  YearPS         14022 non-null  int64
 12  YearPE         14022 non-null  int64
 13  MonthPS        14022 non-null  int64
 14  MonthPE        14022 non-null  int64
 15  HourPS         14022 non-null  int64
 16  HourPE         14022 non-null  int64
 17  Sunrise        14022 non-null  object
 18  Sunset         14022 non-null  int64
 19  Date           14022 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(9), object(1)
memory usage: 2.2+ MB

In [27]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [28]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14022 entries, 2018-12-31 to 2021-12-27
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        14022 non-null  datetime64[ns]
 1   PeriodStart      14022 non-null  datetime64[ns]
 2   Temperature      14022 non-null  float64
 3   DHI              14022 non-null  int64
 4   DNI              14022 non-null  int64
 5   Radiation        14022 non-null  float64
 6   Precipitation    14022 non-null  float64
 7   Humidity         14022 non-null  int32
 8   Pressure         14022 non-null  float64
 9   WindDirection    14022 non-null  float64
 10  WindSpeed        14022 non-null  float64
 11  YearPS           14022 non-null  int64
 12  YearPE           14022 non-null  int64
 13  MonthPS          14022 non-null  int64
 14  MonthPE          14022 non-null  int64
 15  HourPS           14022 non-null  int64
 16  HourPE           14022 non-null  int64
 17  Sunrise          14022 non-null  object
 18  Sunset           14022 non-null  int64
 19  Date             14022 non-null  datetime64[ns]
 20  Daily_radiation  14022 non-null  float64
 21  Daily_DNI        14022 non-null  float64
 22  Daily_DHI        14022 non-null  float64
 23  Daily_Temp       14022 non-null  float64
 24  Daily_Precip     14022 non-null  float64
 25  Daily_Humidity   14022 non-null  float64
 26  Daily_Pressure   14022 non-null  float64
 27  Daily_WindDir    14022 non-null  float64
 28  Daily_WindSpeed  14022 non-null  float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(9), object(1)
memory usage: 3.2+ MB

In [29]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [30]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 04:00:00,20.8,3,15,5.0,39.6,93,918.1,44.0,1.8,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 05:00:00,21.7,48,2,49.0,39.2,89,918.6,44.0,2.6,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 06:00:00,22.6,179,2,180.0,38.7,86,919.2,43.0,3.4,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 07:00:00,23.3,348,134,433.0,38.1,84,919.2,44.0,3.9,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 08:00:00,23.8,454,160,577.0,37.5,83,918.6,46.0,4.0,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 09:00:00,24.3,428,384,775.0,36.9,83,918.1,47.0,4.0,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 10:00:00,25.2,578,173,744.0,36.7,78,917.6,49.0,4.1,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 11:00:00,26.5,625,73,697.0,36.8,70,917.1,51.0,4.0,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 12:00:00,27.8,595,72,664.0,37.0,63,916.6,53.0,3.9,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25
2018-12-31,2018-12-31 13:00:00,28.2,428,0,428.0,37.1,60,916.4,52.0,3.6,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.25

In [31]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14022 entries, 2018-12-31 to 2021-12-27
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        14022 non-null  datetime64[ns]
 1   Temperature      14022 non-null  float64
 2   DHI              14022 non-null  int64
 3   DNI              14022 non-null  int64
 4   Radiation        14022 non-null  float64
 5   Precipitation    14022 non-null  float64
 6   Humidity         14022 non-null  int32
 7   Pressure         14022 non-null  float64
 8   WindDirection    14022 non-null  float64
 9   WindSpeed        14022 non-null  float64
 10  MonthPE          14022 non-null  int64
 11  Date             14022 non-null  datetime64[ns]
 12  Daily_radiation  14022 non-null  float64
 13  Daily_DNI        14022 non-null  float64
 14  Daily_DHI        14022 non-null  float64
 15  Daily_Temp       14022 non-null  float64
 16  Daily_Precip     14022 non-null  float64
 17  Daily_Humidity   14022 non-null  float64
 18  Daily_Pressure   14022 non-null  float64
 19  Daily_WindDir    14022 non-null  float64
 20  Daily_WindSpeed  14022 non-null  float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 2.3 MB

In [32]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [33]:
# show the number of rows and columns available
new_df.shape

(1093, 21)

In [34]:
# 
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 17:00:00,25.0,21,0,21.0,36.4,66,917.1,49.0,2.4,...,2018-12-31,374.214286,73.142857,312.071429,25.028571,37.557143,73.857143,917.542857,46.714286,3.250000
2019-01-01,2019-01-01 17:00:00,26.6,21,134,39.0,34.1,59,916.5,60.0,2.8,...,2019-01-01,580.785714,635.714286,116.285714,26.142857,34.742857,65.000000,917.792857,55.142857,3.507143
2019-01-02,2019-01-02 17:00:00,27.7,25,72,35.0,40.1,63,915.7,75.0,1.6,...,2019-01-02,538.285714,495.071429,191.642857,27.142857,37.342857,62.857143,916.585714,45.714286,1.878571
2019-01-03,2019-01-03 17:00:00,27.3,25,44,32.0,43.6,58,914.8,11.0,1.3,...,2019-01-03,331.714286,93.714286,285.285714,26.435714,42.228571,66.357143,915.592857,158.428571,1.514286
2019-01-04,2019-01-04 17:00:00,24.4,24,93,37.0,43.9,76,915.7,103.0,1.6,...,2019-01-04,337.357143,67.571429,306.142857,23.814286,44.450000,83.571429,916.250000,136.785714,0.971429
2019-01-05,2019-01-05 17:00:00,23.7,22,0,22.0,48.9,85,914.2,181.0,1.5,...,2019-01-05,266.428571,50.500000,221.714286,24.585714,47.821429,77.714286,915.607143,288.142857,1.764286
2019-01-06,2019-01-06 17:00:00,26.0,30,16,31.0,38.0,72,912.9,327.0,1.5,...,2019-01-06,387.785714,102.642857,291.214286,25.135714,40.371429,76.714286,914.392857,267.285714,1.000000
2019-01-07,2019-01-07 17:00:00,26.3,31,16,33.0,39.0,71,912.5,357.0,0.7,...,2019-01-07,517.428571,390.928571,185.285714,25.614286,38.935714,77.357143,913.378571,132.285714,1.064286
2019-01-08,2019-01-08 17:00:00,27.3,30,0,30.0,42.0,59,912.0,314.0,2.5,...,2019-01-08,264.500000,81.642857,206.214286,25.828571,41.192857,72.285714,912.850000,260.928571,1.914286
2019-01-09,2019-01-09 17:00:00,24.7,28,0,28.0,45.5,84,912.3,342.0,1.4,...,2019-01-09,403.714286,178.571429,245.142857,25.928571,45.128571,75.642857,913.364286,323.928571,1.692857

In [35]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [36]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [37]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,25.028571,37.557143,73.857143,917.542857,46.714286,3.250000,73.142857,312.071429,374.214286
2019-01-01,1,2019-01-01,26.142857,34.742857,65.000000,917.792857,55.142857,3.507143,635.714286,116.285714,580.785714
2019-01-02,1,2019-01-02,27.142857,37.342857,62.857143,916.585714,45.714286,1.878571,495.071429,191.642857,538.285714
2019-01-03,1,2019-01-03,26.435714,42.228571,66.357143,915.592857,158.428571,1.514286,93.714286,285.285714,331.714286
2019-01-04,1,2019-01-04,23.814286,44.450000,83.571429,916.250000,136.785714,0.971429,67.571429,306.142857,337.357143

In [38]:
# show the number of rows and column
final_df.shape

(1093, 11)

In [39]:
# save cleaned dataset
final_df.to_csv('D:/ML OPS/Assignment#4/Data/Cleaned/Cleaned_zambia_Solcast.csv')